body{
    background:darkred;
    font-family:cursive;
}

.assignment
{
    display: flex;
    padding: 12px;
    margin: 10px;
    background: ivory;
}

.assignment img
{
    width: 400px;
    margin: 12px;
    border:5px solid #DAA520;
}

.assignment img:hover {
    border:5px solid black;

}

h1{
    color: whitesmoke;
    text-align:center;
}

a {
    text-decoration:none;
    color:#DAA520;
}

a:hover {
    color:black;
}